.title{
    color:#74340f;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
}
.title img{
     height:70px;
}

.codeEditor{
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    background-color: #fafafa;
    margin:5px;
}

.meeting-info{
    padding:5px;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fafafa;

}



.chat-window{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}
.chat-container{
    height:500px;
    overflow-y: auto;
    background-image: url('./../../assets/img/chat-bg.png');
    padding:5px;
}

.message{
    border: 1px solid #ccc;
    margin-top:15px;
    padding:10px;
    background-color: #fafafa;
    min-width: 200px;
}

.message.left{
    float: left;
    clear: both;
    border-radius: 20px 20px 20px 0;
}

.message.right{
    float: right;
    clear: both;
    border-radius: 20px 20px  0 20px;
}

.message-sticker{

}

.message-sticker.left{
    float: left;
    clear: both;
    border-radius: 20px 20px 20px 0;
}

.message-sticker.right{
    float: right;
    clear: both;
    border-radius: 20px 20px  0 20px;
}

.btn-send-message{
   border:none;
   font-size: 20px;
   padding: 10px;
}

.chat-sticker{
    height:60px;
    width:60px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius:50%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.chat-message-sticker{
    height:100px;
    width:100px;
}

.container-stickers{
    padding: 10px;
}